

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
  // min-width: 320px;
  // height: 100vh;
  overflow: hidden;
  animation: blur 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) reverse;
}
@keyframes blur {
  100% {
    filter: blur(10rem);
  }
}

.colors {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

header.header{
  position: relative;
  // top:20px;
  height: 3vh;

  // height: 6rem;
  display: none;
  &.--hide{
display: none;
  }
}

h1 {
  margin: 0;
  line-height: 1.1;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 1rem;
}
input,
button {
  border-radius: 100px;
  font-size: 1rem;
  padding: 1rem 2rem;
}

#mySection {
  display: flex;
  flex-direction: column;
}
#colorSection {
  margin: 5rem 0;
  width: 100%;
}
#colorRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.reply {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  color: black;
}
.reply > * {
  padding: 0.5rem 1rem;
}

.colorBox {
  padding: 1rem 2rem;
  font-size: 1rem;
  outline: 1px solid black;
  border-radius: 100px;
  color: black;
}

:root {
  --image-width: 300px;
  --image-height: calc(var(--image-width) * 1.7);
}
//movies
$paddingCard: 1rem;
$borderRadiusCard: calc($paddingCard * 2);
$imgWidth: 290px;
$imgHeight: calc($imgWidth * 1.52);



.movieWrapper {
  display: flex;
  width: 100%;
  z-index: 99;
  position: relative;
  height: 100vh;
  // overflow: hidden;
  padding: 2rem 0;
  margin-bottom: 10rem;
}

.movieContainer {
  display: grid;
  overflow-x: scroll;
  flex-flow: column nowrap;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 8rem;
  scroll-snap-type: both mandatory;
}
.card {
  width: $imgWidth;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  
  object-fit: contain;
  background-color: #1a1a1a;
  padding: $paddingCard;
  border-radius: calc($borderRadiusCard);
  cursor: pointer;
  scroll-snap-align:center;
  scroll-snap-stop: always;
  animation: zoom 1s ease-in-out reverse;

  // transition: all bcubic-bezier(0.075, 0.82, 0.165, 1);
  @media screen and (min-width: 768px) {
    &:hover {
      // box-shadow: -5px -5px 10px rgba($color: #000000, $alpha: .7);
      outline: 3px solid blue;
    }
  }
  &__mobileHover {
    outline: 3px solid blue;
  }
}
.movieImageContainer {
  height: $imgHeight;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  overflow: hidden;
}
// animate zoom on every card
@keyframes zoom {
  100% {
    transform: scale(0.9);
  }
}

@for $i from 1 through 32 {
  .card:nth-child(1n + #{$i}) {
    animation: zoom 0.3s ease-in-out reverse;
    animation-delay: $i * 0.1s;
  }
}


.movieImage {
  width: $imgWidth;
  height: $imgHeight;

  object-fit: cover;
  border-radius: calc($borderRadiusCard / 2);
  &__hide {
    display: none;
  }
}
.trailer,
iframe {
  @extend .movieImage;
  // height: 1000px;
  object-fit: cover;
  overflow: hidden;
  border: none;
  outline: none;
  opacity: 1;
  &:hover {
    transition: all 3s;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .movieImage.expand,
  .movieImageContainer.expand,
  .card.expand,
  .trailer.expand {
    width: 80vw;
    max-width: 1240px;
  }
  .card {
    transition: width cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
  }
}

.movieTitle {
  font-size: 2rem;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  margin: 0 0 4rem;
  z-index: 3;
}

.movieDescription__container {
  display: block;

  position: absolute;
  flex-wrap: nowrap;
  top: 3rem;
  height: 5rem;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: height ease-in-out 0.3s;
  z-index: 2;
  &--showfull {
    height: 70%;
  }
}

.movieDescription {
  position: relative;
  max-width: 70%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  bottom: 0.7rem;
  &__showmore {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    overflow: initial;
    max-width: 100%;
    // margin-left: 20px;
  }
  &--showfull {
    -webkit-line-clamp: 10;
  }
}
.moviePrice {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 100;
  // background-color: blue;
  border: solid blue 2px;
  border-radius: 20px 0;
  bottom: 2rem;
  padding: 0.5rem;
}
.movieYear {
  display: grid;
  grid-area: yr;
  margin: 0;
  padding: 0;
}

.buttonContainer {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 10px;
}

.streamNowBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  bottom: 0;
  padding: 0.2rem 0.2rem;
  background-color: blue;
  transition: all 0.3s;
  font-size: 1rem;
}
.trailerBtn {
  @extend .streamNowBtn;
  background-color: unset;
  outline: 1px solid blue;
  // flex-shrink: 2;
  margin-right: 1rem;
}
.closeBtn {
  z-index: 4;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  border-radius: 100%;
  padding: 1px;
  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;

  }
}
.closeBtnImg {
  object-fit: contain;
  width: 100%;

  background-color: white;
  border-radius: 100%;
  z-index: 2;
  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

}
.playBtn {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
  opacity: 0;
  transition: opacity 1s;
  &:hover {
    border-color: unset;
    border: unset;
  }
}
.playBtn.visible {
  opacity: 1;
}

.playBtnImg {
  // position: absolute;
  filter: invert(100);
  opacity: 0.5;
  width: auto;
  height: 70px;
  //  visibility: hidden;
}
